In [2]:
import pandas              as pd
import numpy               as np
import plotly.offline      as py
import joblib              as jb
from fbprophet             import Prophet
from fbprophet.plot        import plot_plotly

In [3]:
df = pd.read_excel('./QlikProphet/DataSetATUAL.xlsx')
df.tail(20)

         Data ValorAtual
25 2019-05-20    4.31714
26 2019-05-27    4.31786
27 2019-06-03    4.31922
28 2019-06-04      4.229
29 2019-06-05      4.199
30 2019-06-10    4.30811
31 2019-06-11      4.229
32 2019-06-12      4.199
33 2019-06-18    4.20929
34 2019-06-26      4.195
35 2019-06-27          -
36 2019-06-28          -
37 2019-06-29          -
38 2019-06-30          -
39 2019-07-01          -
40 2019-07-02          -
41 2019-07-03          -
42 2019-07-04          -
43 2019-07-05          -
44 2019-07-06          -

In [4]:
df['ValorAtual']        = df['ValorAtual'].apply(lambda x: np.nan if x == '-' else x)
df                      = df.dropna()
df['Data']              = pd.to_datetime(df['Data'])
df                      = df.filter(items=['Data', 'ValorAtual'])
df                      = df.set_index('Data').sort_index()
df                      = df.reset_index(drop=False)
df.columns              = ['ds', 'y']
df.tail(20)

           ds         y
15 2019-04-02  4.086143
16 2019-04-09  4.126143
17 2019-04-15  4.299000
18 2019-04-16  4.135923
19 2019-04-22  4.252636
20 2019-04-23  4.199000
21 2019-04-29  4.252636
22 2019-04-30  4.199000
23 2019-05-06  4.263429
24 2019-05-13  4.263429
25 2019-05-20  4.317143
26 2019-05-27  4.317857
27 2019-06-03  4.319222
28 2019-06-04  4.229000
29 2019-06-05  4.199000
30 2019-06-10  4.308111
31 2019-06-11  4.229000
32 2019-06-12  4.199000
33 2019-06-18  4.209286
34 2019-06-26  4.195000

In [15]:
# input_qlik
# future_qlik
prophet2            = Prophet(changepoint_prior_scale=0.5)
prophet2.add_country_holidays(country_name='BR')
df2                 = df[['ds','y']].dropna()
# fit(df, algorithm='Newton')
prophet2.fit(df2, algorithm='LBFGS')
futuro2             = prophet2.make_future_dataframe(periods=8, freq="D")
forecast2           = prophet2.predict(futuro2)

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [16]:
forecast2[['ds','yhat']].tail(20)

           ds      yhat
23 2019-05-06  4.250358
24 2019-05-13  4.275221
25 2019-05-20  4.294000
26 2019-05-27  4.288971
27 2019-06-03  4.268622
28 2019-06-04  4.284172
29 2019-06-05  4.234359
30 2019-06-10  4.248273
31 2019-06-11  4.263823
32 2019-06-12  4.214010
33 2019-06-18  4.243474
34 2019-06-26  4.173312
35 2019-06-27  4.143358
36 2019-06-28  4.140451
37 2019-06-29  4.137544
38 2019-06-30  4.134637
39 2019-07-01  4.187226
40 2019-07-02  4.202776
41 2019-07-03  4.152963
42 2019-07-04  4.123009

In [ ]:
pred_df2            = forecast2.set_index('ds')[['yhat', 'yhat_lower', 'yhat_upper']].join(df2.set_index('ds').y).reset_index()
pred_df2.tail(20)

In [ ]:
fig6                = plot_plotly(prophet2, forecast2)
py.iplot(fig6)

In [ ]:
df2['y'].sum()

In [ ]:
futuro2

In [ ]:
forecast2[['ds', 'yhat']].set_index('ds').sort_index().reset_index(drop=False)

In [ ]:
input_qlik              = jb.load("./QlikProphet/prev/input_df.pkl.z")
future_qlik             = jb.load("./QlikProphet/prev/future_df.pkl.z")
forecast_01_qlik        = jb.load("./QlikProphet/prev/forecast_01_df.pkl.z")
forecast_qlik           = jb.load("./QlikProphet/prev/forecast_df.pkl.z")
pParam = forecast_qlik  = jb.load("./QlikProphet/prev/prophParam.pkl.z")
fParam = forecast_qlik  = jb.load("./QlikProphet/prev/fitParam.pkl.z")

In [ ]:
fParam

In [ ]:
pParam

In [ ]:
input_qlik['y'].count()

In [ ]:
future_qlik

In [ ]:
forecast_01_qlik[['ds', 'yhat']].set_index('ds').sort_index().reset_index(drop=False)

In [ ]:
forecast_qlik[['ds', 'yhat']].set_index('ds').sort_index().reset_index(drop=False)