In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2019-1_CA.csv', delimiter=';')
df.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL,16/01/2019,"3,799","3,2166",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL,23/01/2019,"3,799",NaN,R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL S10,16/01/2019,"3,899","3,2638",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,DIESEL S10,23/01/2019,"3,899",NaN,R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,16/01/2019,"3,299","2,9999",R$ / litro,RAIZEN

In [3]:
df = df[df['Estado - Sigla'] == 'SP']
df = df[df['Município']      == 'ITU']
df = df[df['Produto']        == 'GASOLINA']
df.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
406381,SE,SP,ITU,''AUTO POSTO SOLAR DAS TERRAS LTDA'',9259017000132,GASOLINA,13/02/2019,"3,897",NaN,R$ / litro,BRANCA
406382,SE,SP,ITU,''AUTO POSTO SOLAR DAS TERRAS LTDA'',9259017000132,GASOLINA,20/02/2019,"3,897",NaN,R$ / litro,BRANCA
406431,SE,SP,ITU,AMIGOS AUTO POSTO ITU LTDA,887870000124,GASOLINA,02/01/2019,"4,599",NaN,R$ / litro,IPIRANGA
406432,SE,SP,ITU,AMIGOS AUTO POSTO ITU LTDA,887870000124,GASOLINA,02/04/2019,"4,399",NaN,R$ / litro,IPIRANGA
406433,SE,SP,ITU,AMIGOS AUTO POSTO ITU LTDA,887870000124,GASOLINA,03/06/2019,"4,599",NaN,R$ / litro,IPIRANGA

In [4]:
df = df.filter(items=['Bandeira','Revenda','CNPJ da Revenda', 'Data da Coleta', 'Valor de Venda'])
df.head()

,Bandeira,Revenda,CNPJ da Revenda,Data da Coleta,Valor de Venda
406381,BRANCA,''AUTO POSTO SOLAR DAS TERRAS LTDA'',9259017000132,13/02/2019,"3,897"
406382,BRANCA,''AUTO POSTO SOLAR DAS TERRAS LTDA'',9259017000132,20/02/2019,"3,897"
406431,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,02/01/2019,"4,599"
406432,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,02/04/2019,"4,399"
406433,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,03/06/2019,"4,599"

In [5]:
df.sort_values(by=['CNPJ da Revenda', 'Data da Coleta'])

,Bandeira,Revenda,CNPJ da Revenda,Data da Coleta,Valor de Venda
406431,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,02/01/2019,"4,599"
406432,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,02/04/2019,"4,399"
406433,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,03/06/2019,"4,599"
406434,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,04/02/2019,"4,399"
406435,IPIRANGA,AMIGOS AUTO POSTO ITU LTDA,887870000124,04/03/2019,"4,299"
...,...,...,...,...,...
407660,BRANCA,SATYRO FRANCESCHINELLI & FRANCESCHINELLI LTDA,68188051000122,26/03/2019,"3,979"
407661,BRANCA,SATYRO FRANCESCHINELLI & FRANCESCHINELLI LTDA,68188051000122,26/06/2019,"4,159"
407662,BRANCA,SATYRO FRANCESCHINELLI & FRANCESCHINELLI LTDA,68188051000122,27/05/2019,"4,179"
407663,BRANCA,SATYRO FRANCESCHINELLI & FRANCESCHINELLI LTDA,68188051000122,28/01/2019,"3,959"
407664,BRANCA,SATYRO FRANCESCHINELLI & FRANCESCHINELLI LTDA,68188051000122,29/04/2019,"4,079"

In [ ]:
df['Data da Coleta']    = pd.to_datetime(df['Data da Coleta'])
df                      = df.set_index('Data da Coleta').sort_index()
df                      = df.resample('D').mean().dropna()
df                      = df.reset_index(drop=False)

In [7]:

df['Data da Coleta'].describe()

count                     364
unique                     35
top       2019-06-18 00:00:00
freq                       14
first     2019-01-14 00:00:00
last      2019-12-06 00:00:00
Name: Data da Coleta, dtype: object

In [ ]:
# first:2019-01-14 last:2019-12-06
time_index = pd.date_range(start='14/01/2019', end='06/12/2019', freq='M')

In [ ]:
df.to_csv('2019-1_CA_ITU.csv')